.errorWrapper {
  margin: 200px auto;
  max-width: 36em;
  text-align: center;
}

.errorMessageContainer {
  max-width: 24em;
  margin: 0 auto;
}

.confirmationIconWrapper {
  line-height: 0;
}

.orderOptionsWrapper--mobile {
  margin-bottom: 2rem;
}

.noticeListItem:last-child {
  border-bottom: none;
}

.barCodeNumber {
  word-break: break-all;
}

.productListItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
