.orderOptionsWrapper--mobile {
  margin-bottom: 2rem;
}

.noticeListItem:last-child {
  border-bottom: none;
}

.barCodeNumber {
  word-break: break-all;
}

.productListItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
