.errorWrapper {
  margin: 200px auto;
  max-width: 36em;
}

.errorMessage {
  max-width: 24em;
}

.confirmationIconWrapper {
  line-height: 0;
}

.orderOptionsWrapper--mobile {
  margin-bottom: 2rem;
}

.noticeListItem:last-child {
  border-bottom: none;
}

.barCodeNumber {
  word-break: break-all;
}

.orderListItem:last-child,
.productListItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.totalListItemText {
  max-width: 6.5rem;
}
